{% extends 'base.html' %}
{% block title %} {{user.first_name}} {{user.last_name}}{% endblock%}
{% block content %}
<h1>{{user.first_name}}</h1>
<ul>
  <li>ID: {{user.id}}</li>
  <li>Name: {{user.first_name}} {{user.last_name}}</li>
  <li>Pic: <img src="{{user.image_url}}" alt=""> </li>
</ul>

<h2>{{user.first_name}}'s Posts</h2>
{% for p in posts %}
<ul>
    <li><a href="/posts/{{p.id}}">{{p.title}}</a></li>
    
</ul>
{% endfor %}

<form action="/users/{{user.id}}/posts/new">
    <button>Add New Post</button>
</form>

<form action="/users/{{user.id}}/edit">
    <button>Edit User</button>
</form>
<form action="/users/{{user.id}}/delete" method="POST">
    <button>Delete User</button>
</form>
<form action="/users">
    <button>Go Back Home</button>
</form>
{% endblock %}