{% extends 'base.html' %}
{% block title %} {{post.title}} {% endblock%}
{% block content %}
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <h2>Tags</h2>
    <ul>
        {% for t in tags %}
        <li><a href="/tags/{{t.id}}">{{t.name}}</a></li>
        {% endfor %}
    </ul>
    <p><i>By {{first}} {{last}}</i></p>


    <form action="/users">
        <button>Home</button>
    </form>
    <form action="/posts/{{post.id}}/edit">
        <button>Edit Post</button>
    </form>
    <form action="/posts/{{post.id}}/delete" method="POST">
        <button>Delete Post</button>
    </form>
{% endblock %}